<app-nav-bar></app-nav-bar>
<app-sidebar></app-sidebar>
<div class="container"> 
    <img class="img"src="../assets/img/welcom.jpg">
    <div class="flex-container">
        <form class="form-horizontal"><h3>Personal info</h3>
            <div>
                <label>Student Name:
                    <input type="text">
                </label>
            </div>
            <div>
                <label>Roll no     :  
                    <input type="text">
                </label>
            </div>
            <div>
                <label>Email       :
                    <input type="email">
                </label>
            </div>
            <div>
                <label>Ph No       :
                    <input type="number">
                </label><br>
            </div>
            
        </form>
    </div>

    <div class="flex-container" style="margin-top: 20px;">    
        <form class="form-horizontal">
        <h3>Other information</h3><br>
        <label>Father's Name:
            <input type="text">
        </label><br>
        <label>Mother's Name:
            <input type="text">
        </label><br>
        <label>Class:
            <input type="text">
        </label><br>
    </form>
</div>

</div>